// 导航栏文字通用
%nav-bar {
  text-transform: uppercase;
}

// 可点击链接样式
.router-link-active {
  text-decoration: none;
  color: $black;
}

// 顶部导航-首页
@mixin heading-1 {
  font-weight: 900;
  font-size: 24px;
  @extend %nav-bar;
  color: $black;
}

// 其它顶部导航
@mixin heading-2 {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  @extend %nav-bar;
  color: $black;
}

// 正文
@mixin body-text {
  font-size: 16px;
}