.box {
  width: 800px;
  margin: 0 auto;
}

iframe {
  width: 800px;
  height: 450px;
}

h1 {
  margin-top: 40px;
}

p {
  letter-spacing: 1px;
  text-indent: 2em;
  text-align: left;
  line-height: 1.7;
}

img {
  width: 600px;
}

h2 {
  line-height: 2;
}